.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container .claim{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    margin: 5%;
}

.container .claim .text{
    width: 65%;
}